.home-slider-section {
  max-width: $maxWidth-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  padding: 70px 5px;
  @include tablet-view {
    padding: 105px 20px;
  }
  @include tablet-view {
    padding: 140px 20px;
  }

  .slider-container {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $color-neutral !important;
  }
  .image-holder {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

.home-section-heading {
  font-family: $sub-font-family;
  font-size: 38px;
  font-style: italic;
  line-height: 48px;
  letter-spacing: 0em;
  text-transform: capitalize;
  line-height: 1;
  text-align: center;

  & .home-section-subheading {
    display: block;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    font-style: normal;
    letter-spacing: 0.02em;
    text-transform: none;
    color: $color-accent-light;
  }
}
